@media (min-width:768px) and (max-width:1024px) {
    .header__logo {
        width: 25%;
        & img {
            width: 100%;
        }
    }
    nav {
        width: 93%;
        margin-left: 4%;
    }
    .item h1 {
        font-size: 39px;
        line-height: 72px;
    }
    .item p {
        font-size: 15px;
    }
    .hero__title {
        width: 36%;
        margin-left: 32%;
        margin-bottom: 10%;
    }
    .hero__title h1 {
        font-size: 35px;
    }
    .hero-content {
        flex-direction: column;
    }
    .hero-content-image {
        width: 100%;
        height: 60%;
    }
    .hero-content-image__image,
    .hero-content-image__image--secondHero {
        width: 70%;
        height: 80%;
        & img {
            width: 100%;
            height: 100%;
        }
    }
    .hero-content-secondHero {
        left: 0;
    }
    .hero-content-info--secondHero {
        margin-left: 2%;
        margin-bottom: 5%;
    }
    .hero-content-image__rectangle,
    .hero-content-image__rectangle--secondHero {
        width: 70%;
        height: 80%;
    }
    .hero {
        height: 864px;
    }
    .hero-content {
        height: 713px;
    }
    .hero-content-info {
        width: 90%;
        height: 40%;
        margin-top: 30px;
    }
    .hero-content-info__title {
        margin-bottom: 3%;
        margin-top: 2%;
        & h1 {
        font-size: 35px;
        }
    }
    .button {
        width: 150px;
        & a {
            width: 100%;
            margin-bottom: 18%;
        }
    }

    .item-title {
        font-size: 15px;
    }
    .item p {
        font-size: 12px;
    }
    .item-text {
        height: 110px;
    }
    .item-info-text {
        margin-left: 10px;
        & h3 {
            font-size: 11px;
            margin-top: 5%;
        }
        & p {
            font-size: 10px;
        }
    }
    .owl-theme2 .owl-dots {
        left: 32%;
    }
    .owl-carousel2 .item {
        height: 100%;
    }
    .gallery-images {
        height: 100%;
        grid-template-columns: 1fr;
    }
    .gallery-images__image1 {
        & img {
            height: 90%;
        }
    }

    .map-form {
        width: 80%;
        height: 50%;
    }
    .map-title {
        width: 45%;
        margin-left: 30%;
        margin-bottom: 0;
    }
    .form-info {
        margin-top: 5%;
        width: 90%;
        margin-left: 5%;
    }
    .form-info-text {
        & p {
            font-size: 16px;
        }
    }
    .button--form {
        margin-left: 43%;
    }
    .footer-logo {
        width: 32%;
        height: 50%;
        margin-left: 9%;
        & p {
            margin-top: 10%;
        }
    }
    .footer-logos {
        margin-bottom: 6%;
        margin-right: 9%;
    }
    
}


@media (max-width:767px) {
    .header-main {
        height: 100%;
    }
    .header-links-visible,
    .header-logos-visible {
        visibility: hidden;
    }
    .hamburger {
        visibility: visible;
        position: absolute;
        right: -12%;
        top: 0;
        height: 100%;
    }
    .cover {
        height: 100%;
    }
    .header__logo {
        margin-left: 5%;
        & img {
            width: 160px;
            height: 35px;
        }
    }
    .header-logos-hamburger {
        width: 27%;
        // margin-left: -36%;
        position: absolute;
        right: 9%;
        & a {
            margin-left: 0;
        }
    }
    nav {
        justify-content: flex-start;
        position: relative;
        padding: 0;
    }
    main {
        margin-top: 0;
    }
    .item {
        & h1 {
        font-size: 30px;
        line-height: 46px;
        }
        & p {
            font-size: 13px;
            line-height: 23px;
        }
    }
    .arrow {
        margin-top: 0;
        margin-bottom: 5%;
    }
    .owl-theme1 .owl-dots .owl-dot {
        margin-top: 20px;
    }

    .hero__title {
        width: 55%;
        margin-left: 20%;
        & h1 {
            font-size: 30px;
            height: 100%;
        }
    }
    .hero-content {
        flex-direction: column;
    }
    .hero-content-info {
        width: 98%;
        height: 40%;
        margin-top: 5%;
        margin-bottom: 5%;
    }
    .hero-content-image {
        width: 100%;
        height: 60%;
    }
    .hero-content-image__image,
    .hero-content-image__rectangle {
        width: 70%;
        height: 70%;  
        & img {
            width: 100%;
            height: 100%;
        }
    }
    .hero-content-info__subtitle {
        & h3 {
            font-size: 15px;
            line-height: 24px;
        }
    }
    .hero-content-info__title {
        margin-bottom: 2%;
        & h1 {
            font-size: 27px;
            line-height: 35px;
        }
    }
    .hero-content-info__text {
        & p{
            font-size: 14px;
            line-height: 18px;
        }
    }
    .button {
        width: 140px;
        height: 33px;
        & a {
            width: 100%;
            height: 100%;
            margin-top: 10px;
            margin-bottom: 10px;
            font-size: 12px;
        }
    }
    .hero-content-info__location {
        margin-top: 9px;
        font-size: 14px;
        line-height: 19px;
    }

    .hero-content-image__image,
    .hero-content-image__image--secondHero {
        width: 70%;
        height: 70%;
        & img {
            width: 100%;
            height: 100%;
        }
    }
    .hero-content-secondHero {
        left: 0;
    }
    .hero-content-info--secondHero {
        margin-left: 2%;
        margin-bottom: 5%;
    }
    .hero-content-image__rectangle,
    .hero-content-image__rectangle--secondHero {
        width: 70%;
        height: 70%;
    }
    .news {
        height: 100%;
    }
    .news-slider {
        height: 555px;
    }
    .news-title {
        width: 56%;
        margin-top: 7%;
        margin-left: 21%;
        margin-bottom: 10%;
    }
    .item-title {
        height: 70px;
        font-weight: 650;
        font-size: 14px;
        line-height: 14px;
        padding: 3%;
        margin-top: 5%;
    }
    .item-text {
        height: 100px;
    }
    .item-text {
        padding: 3%;
        & p {
            font-size: 11px;
            line-height: 15px;
        }
    }
    .item-info {
        width: 97%;
        height: 100%;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        padding: 3%;
        margin-left: 0;
        margin-top: 15%;
    }
    .item-info__img {
        width: 60%;
        height: 60%;
        & img {
            width: 100%;
            height: 100%;
        }
    }
    .item-info-text {
        width: 100%;
        margin-left: 0;
        & h3 {
            font-size: 10px;
            line-height: 15px;
        }
        & p {
            font-size: 10px;
            line-height: 15px;
        }
    }
    .owl-theme2 .owl-dots {
        position: absolute;
        bottom: -20%;
        left: 15%;
        width: 75%;
    }
    .owl-carousel2 .owl-nav button.owl-next, 
    .owl-carousel2 .owl-nav button.owl-prev {
        width: 8%;
        height: 6%;
    }

    .gallery,
    .news {
        margin-top: 20%;
    }
    .gallery {
        margin-bottom: 20%;
    }
    .gallery-images {
        height: 100%;
        grid-template-columns: 1fr;
        width: 90%;
        margin-left: 5%;
    }
    .gallery-images_images {
        grid-template-columns: 1fr;
    }
    .button--gallery {
        margin-left: 33%;
    }

    .map-img {
        height: 700px;
        & .form-info {
            height: 100%;
        }
    }
    .map-form {
        width: 100%;
        height: 64%;
    }

    .form-info {
        margin-top: 0px;
        grid-template-columns: 1fr;
        gap: 0;
    }
    .form-info__info,
    .form-info__form {
        height: 100%;
    }
    .map-title {
        margin-top: 0;
    }
    .form-info-text p {
        line-height: 19px;
    }
    .informations {
        margin-bottom: 10px;
        height: 25px;
    }
    .form-info__name h3 {
        height: 24px;
        font-size: 16px;
        line-height: 23px;
        margin-top: 5%;
        margin-bottom: 0;
    }
    .form-info__email {
        height: 55%;
        margin-top: 3%;
    }
    .email-text input {
        line-height: 20px;
    }

    .footer-container {
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        height: 100%;
        margin-top: 0;
    }
    .footer-logo {
        width: 50%;
        height: 16%;
        margin-left: 5%;
        & p {
            font-size: 13px;
            margin-top: 10%;
        }
    }
    .footer-logos {
        width: 32%;
        height: 6%;
        margin-bottom: 9%;
        margin-left: 5%;
        margin-top: 5%;
        & img {
            width: 100%;
            height: 100%;
        }
    }



}