.container-hero {
    max-width: $secondcontainerWidth;
    width: 100%;
    margin: 0 auto;
}
.hero {
    width: 100%;
    height: 650px;
    margin-top: 70px;
}
.hero__title {
    width: 28%;
    margin-left: 35%;
    margin-bottom: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.hero__title h1 {
    font-family: 'Montserrat';
    font-style: normal;
    margin-top: 20px;
    height: 50px;
    font-weight: 700;
    font-size: 40px;
    line-height: 54px;
    color: $color2;
}
.hero-content {
    width: 90%;
    height: 520px;
    margin-top: 2%;
    display: flex;

}
.hero-content-image {
    position: relative;
    width: 60%;
    height: 100%;
}
.hero-content-image__rectangle {
    position: absolute;
    width: 585px;
    height: 470px;
    left: 0px;
    top: 0px;
    background: #55B7FF;
}
.hero-content-image__image {
    position: absolute;
    bottom: 0px;
    right: 0px;
}
.hero-content-info {
    width: 40%;
    height: 60%;
    margin-top: 15%;
    margin-left: 2%;
    color: $color2;
}
.hero-content-info__subtitle {
    & h3{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    }
}
.hero-content-info__title{
    & h1 {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 41px;
        line-height: 54px;
    }
    margin-bottom: 5%;
}
.hero-content-info__text {
    & p {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 20px;
    }
}
.button {
    width: 190px;
}
.button a{
    width: 190px;
    height: 40px;
    text-decoration: none;
    margin-top: 35px;
    margin-bottom: 45px;
    border: 1px solid #2C4058;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000000;
    &:hover {
        background-color: grey;
        opacity: 0.4;
        color: $color1;
    }
}
.hero-content-info__location {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #000000;
    &:before {
        content: "";
        background: url(../assets/location-icon.svg) no-repeat center;
        width: 20px;
        height: 20px;
        float: left;
    }
}

.secondHero {
    margin-top: 0;
}
.hero-second {
    height: 100%;
}
.content-secondHero {
    width: 100%;
    height: 100%;
    position: relative;
}
.hero-content-secondHero {
    position: absolute;
    top: 100px;
    right: 0px;
}
.hero-content-image__rectangle--secondHero {
    position: absolute;
    width: 585px;
    height: 470px;
    top: 0px;
    right: 0px;
    background: #7E5AFF;
}
.hero-content-image__image--secondHero {
    position: absolute;
    bottom: 0px;
    left: 0px;
}
.hero-content-info--secondHero {
    margin-left: 0;
    margin-right: 2%;
}

.gallery {
    // height: 650px;
    margin-top: 140px;
    margin-bottom: 130px;
}
.gallery-images {
    height: 441px;
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;

}

.gallery-images__image1 {
    & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    }
}
.gallery-images_images {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    & img {
        width: 100%;
        height: 100%;
    }
}
.button--gallery {
    margin-left: 40%;
}
.button--gallery a {
    margin-bottom: 0;
    margin-top: 20%;
}

.news {
    width: 100%;
    height: 950px;
    margin-top: 140px;
    display: inline-block;
    background: url(../images/Background-news.png) no-repeat center;
}
.container-news {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.news-title {
    width: 327px;
    margin-top: 100px;
    & h1 {
        color: $color1;
    }
}
.news-slider {
    height: 95%;
    width: 100%;
    display: flex;
    align-items: flex-start;
    // justify-content: space-between;
    justify-content: center;
    position: relative;
}
.new-slider_slider {
    width: 80%;
    height: 61%;
}
.news-arrow {
    height: 69%;
    display: flex;
    align-items: center;
}
.item-title {
    padding: 10px;
    margin-top: 15px;
}

.item-title {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #2C4058;
}
.item-text {
    padding: 10px;
    padding-top: 0;
    height: 80px;
    letter-spacing: 0px;
}
.item-text {
    & p{
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        text-align: left;
        margin-top: 10px;
        color: #2C4058;
    }
}
.owl-carousel2 {
    & .item {
        background-color: $color1;
        // height: 100%;
        height: 440px;
        padding-bottom: 20px;
    }
}
.item-info {
    width: 90%;
    height: 60px;
    margin-left: 10px;
    display: flex;
    align-items: center;
}
.item-info__img img {
    border-radius: 100%;
    width: 100%;
    height: 100%;
}
.item-info-text {
    height: 100%;
    margin-left: 15px;
    padding-top: 10px;
    & h3 {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 17px;
        color: #2C4058;
    }
    & p {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #55B7FF;
        text-align: left;
        margin-top: 5px;
    }
}

.owl-carousel2 .owl-nav button.owl-prev{
    background: url('../assets/arrowleft.svg') no-repeat center;
    width: 50px;
    height: 50px;
    span{
        display: none;
    }
    position: relative;
    left: -700px;
    top: -300px;
    position: absolute;
    left: -10%;
    top: 35%;
}
.owl-carousel2 .owl-nav button.owl-next{
    background: url('../assets/arrowright.svg') no-repeat center;
    width: 50px;
    height: 50px;
    span{
        display: none;
    }
    position: absolute;
    right: -10%;
    top: 35%;
}


.map-img {
    background: url(../images/Map.png) no-repeat center;
    width: 100%;
    height: 700px;
    position: relative;
    display: flex;
    justify-content: center;
}
.map-form {
    width: 750px;
    height: 400px;
    position: absolute;
    bottom: -18%;
    background: url(../images/Background-form.png) no-repeat center;
}
.map-title {
    width: 332px;
    height: 80px;
    margin-left: 25%;
    margin-top: 30px;
}
.map-title h1 {
    margin-top: 20px;
}
.form-info {
    width: 85%;
    height: 196px;
    margin-top: 50px;
    margin-left: 8%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}
.form-info__info {
    display: flex;
    flex-direction: column;
}
.informations {
    margin-bottom: 20px;
    height: 35px;
}
.form-info-text p{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 28px;
    color: #000000;
}
.form-info-text {
    display: flex;
    align-items: center;
}
.form-info-text::before {
    content: "";
    background: url(../assets/location-icon.svg) no-repeat center;
    width: 20px;
    height: 20px;
    float: left;
}
.form-info__time {
    height: 30px;
}
.form-info__name img {
    width: 270px;
    height: 2px;
}
.form-info__name h3 {
    width: 127px;
    height: 27px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #000000;
}
.form-info__email {
    height: 41px;
    margin-top: 32px;
}
.form-info__email img {
    width: 270px;
    height: 2px;
    opacity: 0.3;
}
.email-text {
    & input {
        border: 0;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 27px;
        color: #4B5562;
        opacity: 0.5;
    }
}
.button--form {
    width: 120px;
    margin-left: 60%;
}
.button--form a {
    width: 100%;
}



// .owl-carousel .owl-nav button.owl-prev{
//     background: url('../assets/arrowleft.svg') no-repeat center;
//     width: 50px;
//     height: 50px;
//     span{
//         display: none;
//     }
//     position: relative;
//     left: -700px;
//     top: -300px;
// }
// .owl-carousel .owl-nav button.owl-next{
//     background: url('../assets/arrowright.svg') no-repeat center;
//     width: 50px;
//     height: 50px;
//     span{
//         display: none;
//     }
//     position: relative;
//     right: -700px;
//     top: -300px;
// }
